*.py[ciod]
*.egg-info
__pycache__

*.so
*.dylib
*.dll

/pathplannerlib/include
/pathplannerlib/rpy-include
/pathplannerlib/_init_pathplannerlib.py
/pathplannerlib/pkgcfg.py
/pathplannerlib/version.py
/pathplannerlib/py.typed

.cache
.coverage
build
dist

.vscode
.project
.pydevproject
